# General ignores
.DS_Store
.env
*.log
.vscode/
.idea/
*.iml
*.swp
*.swo
*.swn

# Flutter (Frontend)
frontend/**/.dart_tool/
frontend/**/.packages
frontend/**/.flutter-plugins*
frontend/**/pubspec.lock
frontend/**/build/
frontend/**/generated/
frontend/**/.fvm/
frontend/**/.firebase/
frontend/**/.android/
frontend/**/.ios/
frontend/**/.gradle/
frontend/**/.metadata

# Python (Backend)
backend/**/__pycache__/
backend/**/.pytest_cache/
backend/**/.venv/
backend/**/venv/
backend/**/.mypy_cache/
backend/**/.tox/
backend/**/.coverage
backend/**/instance/
backend/**/migrations/
backend/**/logs/
backend/**/*.db

# Dependency Lock Files
backend/**/poetry.lock
backend/**/pip-log.txt
backend/**/pip-delete-this-directory.txt

# Sensitive Files
docs/passwords.org
